@model DryCleanerAppDataAccess.Models.CompanyListModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompanyEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>
      
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="CompanyList">Back to List</a>
</div>
